 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} 
.css{
width:100px ;
height: 50px;
color:white;
background-color: rgb(127, 255, 195);
text-align: center;
padding:18px;
margin:50px;
animation-name: css;
animation-duration: 4s;
position: relative;
animation: css 5s infinite;
}
@keyframes css{
  0% {
    transform: rotate(0deg);
    left: 0;
  }  
  50%  {
    transform: rotate(20deg);
    left: 500px;
  }
  75% {
    transform: rotate(0deg);
    left:500px;
  }
  100% {
    transform: rotate(-360deg);
    left: 0;
}
}

